<style inline href="./proper-name.scss"></style>
{% spaceless %}
  <span class="name">{{ first }} {{ last }}</span>
  {% if suffix %}
    <span class="suffix">, {{ suffix }}</span>
  {% endif %}
{% endspaceless %}
